
$bgColor:#202124;

$fontColor:#fff;
body{
    overflow-x: hidden;
    
    color: $fontColor;
    font-family: sans-serif;
   
      
    a {
        text-decoration: none;
        color: $fontColor;
    } 

   
   
}